@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: white;
}
/* .white{
  background-color: white;
  color: black;
} */

h4 {
  position: relative;
}

h4::after {
  position: absolute;
  content: 'A';
  font-weight: bold;
  height: 20px;
  top: 4px;
  right: 69px;
  background-color: #075985;
  padding-right: 6px;
  padding: 2px 4px 4px 4px;
  border-radius: 40%;

}

nav ul a {
  margin: 10px;
}
h2{
  position: relative;
}
h2::before{
   content: '|';
   position: absolute;
   right: 0;
   background-color: black;
   width: 0%;
   animation: typing 3s steps(14) alternate  infinite;
   
}
.FaBars:hover{
  border: 2px solid #075985;
  padding: 1px;
}

@keyframes typing{
  to{
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding-bottom: 4px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 60px;
    display: none;
    
  }
  ul.open {
    display: flex;
 }
  .None{
    display: none;
  }
  .Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .TX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Font{
    margin-left: 30px;
  }
  .icons{
    position: fixed;
    bottom: 20%;
    right: 20px;
  }
  .footer{
    display: none;
  }
}

