@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #020811;
  color: white;
  overflow-x: hidden;
}

.Dark {
  background-color: white;
  color: black;
}
.Header{
  backdrop-filter: blur(10px);
  z-index: 1;
  padding: 15px;
}
h4 {
  position: relative;
  transform: translateY(-15px);
}
nav ul a {
  margin: 10px;
}

h2 {
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  border-right: 5px solid;
  width: 94%;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(14) alternate  infinite;
}

.FaBars:hover {
  border: 2px solid #075985;
  padding: 1px;
}
/* button:hover{
 border: 1px solid #075985;
 background-color: transparent;
} */
/* .buttonss:hover{
  border: 2px solid #075985;
  background-color: transparent;
 } */
.buttons{
  border: 2px solid #075985;
 }

 .container{
  border: 2px solid #494848;
  border-radius: 9px; 
  width: 85%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.container:hover{
   border: 2px solid #075985;
  background-color: #075985;
  transition: ease;
 }
form .input {
  border: 2px solid #075985;
  outline: none;
  border-radius: 5px;
  padding-left: 5px;
  background-color: #020811;
}

.form,input,textarea,.button{
  width: 55%;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


@keyframes typing {
  to {
    width: 0;
  }
}

@media screen and (max-width: 1020px){
  nav {
    padding-bottom: 4px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 60px;
    display: none;

  }

  ul.open {
    display: flex;
  }

  .None {
    display: none;
  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .Font {
    margin-left: 30px;
  }

  .iconss {
    position: fixed;
    bottom: 45%;
    right: 20px;
  }
  .Dowmload{
    margin-right: 15px;
  }
  
  .footer {
    display: none;
  }

  .containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* margin-right: 20px; */
  
  }
  .container img{
    width: 100%;
  } 
  .form,input,textarea,.button{
    width: 90%;
  }
}
/* 
@media screen and (max-width: 400px){
  nav {
    padding-bottom: 4px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 60px;
    display: none;

  }

  ul.open {
    display: flex;
  }

  .None {
    display: none;
  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .Font {
    margin-left: 30px;
  }

  .iconss {
    position: fixed;
    bottom: 45%;
    right: 20px;
  }
  .Dowmload{
    margin-right: 15px;
  }
  
  .footer {
    display: none;
  }

  .containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  } */
  /* .container img{
    width: 100%;
  } 
} */