@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}
.Header{
  backdrop-filter: blur(10px);
  z-index: 1;
}

h4 {
  position: relative;
}

h4::after {
  position: absolute;
  content: 'A';
  font-weight: bold;
  height: 20px;
  top: 4px;
  right: 69px;
  background-color: #075985;
  padding-right: 6px;
  padding: 2px 4px 4px 4px;
  border-radius: 40%;

}

nav ul a {
  margin: 10px;
}

/* h2{
  position: relative;
} */
h2 {
  letter-spacing: 1px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 2px;
  /* font-family: monospace; */
  border-right: 5px solid;
  width: 94%;
  margin-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(14) alternate  infinite;
}

.FaBars:hover {
  border: 2px solid #075985;
  padding: 1px;
}
button:hover{
 border: 2px solid #075985;
 background-color: transparent;
}
.button:hover{
  border: 2px solid #075985;
  background-color: transparent;
 }

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}


@keyframes typing {
  to {
    width: 0;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding-bottom: 4px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    margin-right: 60px;
    display: none;

  }

  ul.open {
    display: flex;
  }

  .None {
    display: none;
  }

  .Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .TX {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Font {
    margin-left: 30px;
  }

  .icons {
    position: fixed;
    bottom: 20%;
    right: 20px;
  }
  .Dowmload{
    margin-right: 15px;
  }
  
  .footer {
    display: none;
  }

  .containers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }
  .container img{
    
    width: 100%;
  } 
}